@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Indie+Flower&display=swap');
/*@import url("hover-min.css");*/
* {
  box-sizing: border-box;
}
body {
  background-color: #fefae0;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
nav {
  background-color: #ffbe0b;
  text-transform: uppercase;
  color: #000;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
nav a {
  color: #000;
  position: relative;
  margin-left: 30px;
  text-decoration: none;
}
nav a:after {
  content: '';
  border-bottom: 4px solid red;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}
nav a:hover::after {
  opacity: 1;
  transform: translateY(0);
}
header {
  background-image: url(https://images.unsplash.com/photo-1522198734915-76c764a8454d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
header::after {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}
header *{
    position: relative;
    z-index: 1;
}
header h1 {
  font-family: 'Coda Caption', sans-serif;
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 0;
}
header p {
  font-family: 'Indie Flower', cursive;
    font-size: 30px;
    margin: 0;
}
section{
    padding: 45px;
    text-align: center;
}
section h2 {
    margin: 0;
}
section p {
    margin-top: 0;
}
.project-tile {
    margin: 10px;
    max-width: 250px;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.project-tile:hover {
  transform: scale(1.05);
}
.project-tile img {
    max-width: 100%;
}
.project-tile p {
  color: #000;
  font-size: 20px;
  margin-top: 10px;
}
.project-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 810px;
    margin: 20px auto 0;

}
.bg-orang{
    background-color: #ee6c4d;
    color: #fff;
}
.social-ul{
    display: inline-flex; 
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.social-ul a {
    border-radius: 50%;
    border: 2px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    margin: 5px 15px;
    height: 50px;
    width: 50px;
    text-decoration: none;
}
/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
footer {
  background-color: #3d405b;
  color: #fff;
  padding: 10px;
  text-align: center;
}
footer .fa-heart {
  color: red;
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 440px){
  section {
    padding: 20px;
  }
}

.animate__tada {
  display: inline-block;
  margin: 0 0.5rem;


  animation-duration: 2s; /* don't forget to set a duration! */
}
.animate__heartBeat {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; /* don't forget to set a duration! */
}
.animate__lightSpeedInLeft {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.animate__lightSpeedInRight {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
